@using E_commerce.BLL.ViewModels
@using E_commerce.Utility.Settings
@model CustomerCart

<div class="container py-5">

    <div id="cart-container">
        <partial name="_CartPartial.cshtml" />
    </div>

</div>


@section Scripts
{
    <script>

        function updateCartCount() {

            $.get("/Cart/GetCartCount", function(count) {
                $("#cart-count").text(count);
            });

        }


        function handleCartError(xhr) {

            let message = xhr.responseJSON?.message
                ?? "Something went wrong";

            alert(message);

        }



        // Remove Product

        $(document).on("click", ".remove-btn", function() {

            let token = $('input[name="__RequestVerificationToken"]').val();

            let id = $(this).data("id");


            $.ajax({

                url: "/Cart/RemoveProductFromCart",

                type: "POST",

                data: {
                    productId: id
                },

                headers: {
                    RequestVerificationToken: token
                },


                success: function(res) {

                    $("#cart-container").html(res);

                    updateCartCount();

                },


                error: handleCartError

            });


        });





        // Refresh Cart

        $(document).on("click", "#refresh-cart-btn", function() {


            $.ajax({

                url: "/Cart/RefreshCart",

                type: "GET",


                success: function(res) {


                    $("#cart-container").html(res);

                    updateCartCount();


                },


                error: handleCartError


            });


        });







        // Increase / Decrease Quantity


        $(document).on("click", ".increase-btn, .decrease-btn", function() {


            let btn = $(this);


            let productId = btn.data("id");


            let change = btn.hasClass("increase-btn") ? 1 : -1;



            $.ajax({


                url: "/Cart/ChangeQuanatity",


                type: "GET",


                data: {

                    productId: productId,

                    change: change

                },


                success: function(res) {


                    $("#cart-container").html(res);


                    updateCartCount();


                },


                error: handleCartError


            });



        });







        // Clear Cart


        $(document).on("click", "#clear-cart-btn", function() {


            $.ajax({


                url: "/Cart/ClearCart",


                type: "GET",



                success: function(res) {


                    $("#cart-container").html(res);


                    updateCartCount();


                },


                error: handleCartError



            });



        });



    </script>

}